
header { display: flex;
    flex-direction: row;
    align-items: right;
    flex-wrap:wrap;
    height:185px;
    width:100%;
    padding:30px 20px 20px 30px;
    font-size: 75px;
    color: rgb(247, 242, 228);
    background-color: rgb(43, 124, 117);
}

.img { display:flex;
    flex-wrap: wrap;
    height:250px;
    width:250px;
    padding-top: 7px;
}

/*this h1 centers the title in the heading*/

h1{ display:flex;
    justify-content:center;
    align-items:center;
    padding:0px 0px 125px 30px
}


/*this header nav pushes the ul li to the left of the header giving it proper space*/
header nav{
    padding-left: 50px;

}


/* Sets up the li to be centered in the header and lined up with eachother */

.box {   
    display:flex;
    justify-content:center;
    align-items:center;
    width: fit-content;
    Height: fit-content;
    font-size: 30px;
    padding:8px 0px 8px 0px;
     }

/* changes the look when you hover over the li items*/

.box:hover {
    background-color:rgb(128, 171, 155);
    color:black;
    padding: 4px;   
}    

.box:active {
    background-color:rgba(187, 146, 225, 0.776);
}
.box:visited {
    color:rgba(187, 146, 225, 0.776);
}

body {
   background-color: rgb(247, 242, 228)
}