
header { 
    display:block;
    height: 200px;
    width: 100%;
    font-size: 100px;
    color: rgb(247, 242, 228);
    background-color:rgb(43, 124, 117);
    Padding:50px 0px 0px 475px;

}

nav {
    display:flex;
    justify-content: end;
    font-size:35px;
    

}

nav ul li { 
    display:inline-block;
    color: rgb(247, 242, 228);
    padding: 0px 45px 0px 0px;
}

a{
    display:inline;
    color: rgb(247, 242, 228);
    text-decoration:none;
}

a:visited {
    color: rgb(156, 154, 154)
}

a:hover {
    border:solid 1px black;
    border-radius: 10px;
    box-shadow:2px 2px 3px;
    background-color:rgb(128, 171, 155);
    color:black;
    font-weight: bold;
    padding: 4px;
    
}

a:active {
    background-color:rgba(187, 146, 225, 0.776);
}
 
img{
    float:left;
    height:250px;
    width:250px;
    margin: 0px 0px 0px -425px;
    border-radius:40px;
}


h2 {
    float:left;
    font-size: 50px;
    color: rgb(128, 171, 155);
    padding: 300px 0px 0px 25px;
    
}

.projects {
    float:left;
    font-size: 50px;
    color: rgb(128, 171, 155);
    padding: 500px 0px 0px 25px;
}


.line1 {
    display:inline-block;
    margin: 125px 15px 0px 70px;
    height: 400px;
    width:4px;
    background-color: rgb(128, 171, 155);
}


.line2 {
    display:inline-block;
    margin: 125px 100px 0px 105px;
    height: 750px;
    width:4px;
    background-color: rgb(128, 171, 155);

}

.line3 {
    display:inline-block;
    margin: 125px 15px 0px 30px;
    height: 400px;
    width:4px;
    background-color: rgb(128, 171, 155);
}